.calcBody {
    width: 373px;
    height: 470px;
    border-radius: 5px;
    background-color: #222831;
    justify-items: center;
    padding: 57px 10px 0px;
    
  }
  
  .screen {
    width: 372px;
    height: 73px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .keyPads {
    width: 372px;
    display: flex;
    gap: 30px;
    height: 352px;
    border-radius: 10px;   
  }
  
    .numeralKeys {
    width: 266px;
    display: grid;
    grid-template-rows: repeat(4, 76px);
    grid-template-columns: repeat(3, 76px);
    gap: 16px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
      }
  
  .functionKeys {
    display: grid;
    width: 76px;
    gap: 16px;
    grid-template-rows: repeat(4, 76px);
    grid-template-columns: repeat(1, 76px);
  
   } 

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .custom-button {
    background-color: #31363F;
    color: #76ABAE;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
  }
  span{
    position: relative;
    top: 5px;
    left: 15px;
  }